<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("../partials/head") %>

<body>
  <!-- THE HEADER TAG PARTIAL -->
  <%- include("../partials/header") %>
    <h2 class="subtitle is-2">You can update this restaurant</h2>
    <!--  NOTE: the form is pre-populated with values for the server-->
    <div class="container" style="display: flex; flex-wrap: wrap; justify-content: space-around;">
    <form action="/restaurants/<%= restaurant._id%>?_method=PUT" method="POST">
      Name:
      <input type="text" name="name" value="<%= restaurant.name %>" /><br /><br />
      Location:
      <input type="text" name="location" value="<%= restaurant.location %>" /><br /><br />
      Dish to try:
      <input type="text" name="dish" value="<%= restaurant.dish %>" /><br /><br />
      <input type="submit" name="" value="Submit Changes">
    </form>
  </div>
    <nav>
      <a href="/restaurants">Back to the home page</a>
  </nav>
            <!-- THE HEAD TAG PARTIAL -->
            <%- include("../partials/footer") %>
  </body>
</html>
