<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
        <!-- THE HEAD TAG PARTIAL -->
        <%- include("../partials/head") %>

    <body>
        <!-- THE HEADER TAG PARTIAL -->
        <%- include("../partials/header") %>
        <h1 class="title is-1">Where to Dine for Din</h1>
        <nav>
            <h3 class="title is-3"><a href="/restaurants/new">Add a new restaurant</a></h3><br />
      </nav>
        <h3 class="title is-3">Here's my list of restaurants to try</h3>
        <ul>
            <% for(let i = 0; i < restaurants.length; i++){ %>
                <li>
                    I want to go to 
                    <a href="/restaurants/<%=restaurants[i]._id%>">
                        <%=restaurants[i].name;%>
                    </a>.
                    It's located at 
                    <a href="/restaurants/<%=restaurants[i]._id%>">
                        <%=restaurants[i].location;%>
                    </a>.
                    A dish I'd like to try is
                    <a href="/restaurants/<%=restaurants[i]._id%>">
                        <%=restaurants[i].dish;%>
                    </a>
                    <a href="/restaurants/<%=restaurants[i]._id %>/edit">Edit</a>
                    <form action="/restaurants/<%=restaurants[i]._id %>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE"/>
                    </form>
                </li>
            <% } %>
        </ul>
        <!-- THE HEAD TAG PARTIAL -->
        <%- include("../partials/footer") %>
    </body>
</html>
