<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Restaurants</title>

</head>
<!-- THE HEAD TAG PARTIAL -->
<%- include("../partials/head") %>

<body>
<!-- THE HEADER TAG PARTIAL -->
<%- include("../partials/header") %>
    <a href="/restaurants">Home</a><br />
    <a href="/restaurants">All Restaurants</a><br />
    <h2 class="subtitle is-2">Here's some info on this restaurant</h2>
    <!--  NOTE: the form is pre-populated with values for the server-->
    <div class="container" style="display: flex; flex-wrap: wrap; justify-content: space-around;">
    <h1><b>Restaurant:</b> <%= restaurant.name %></h1>
    <h1><b>Location:</b> <%= restaurant.location %></h1>
    <h1><b>Dish to try:</b> <%= restaurant.dish %></h1>
    
    </div>
    <nav>
      <br /><a href="/restaurants">Back to the home page</a><br /><br />
    </nav>
        <!-- THE HEAD TAG PARTIAL -->
        <%- include("../partials/footer") %>
      </body>
</html>

