<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Restaurants</title>

</head>
<!-- THE HEAD TAG PARTIAL -->
<%- include("../partials/head") %>

<body>
<!-- THE HEADER TAG PARTIAL -->
<%- include("../partials/header") %>
    <a href="/restaurants">Home</a>
    <a href="/restaurants">All Restaurants</a>
    <h1>Restaurant #<%= restaurant.name %></h1>
    <h3><%= restaurant.text %></h3>
    <nav>
      <a href="/restaurants">Back to the home page</a>
    </nav>
        <!-- THE HEAD TAG PARTIAL -->
        <%- include("../partials/footer") %>
      </body>
</html>